# Movie Club Analysis Notebook

Here I will redo the work I originally did in a Google Sheet

I will be using Python to retrieve the adjusted scores for each movie by first finding the average Z-Score for each movie.

### 1. Import Necessary packages

In [1]:
import pandas as pd
import numpy as np
from statistics import mean, stdev as sd
movie_df = pd.read_csv('MovieRatings.csv', index_col=0, header=0)

### 2. Show preview of the data and look at some comparisons.

In [2]:
print(movie_df.head(5))
print('\n')
print(movie_df.loc[['Forrest Gump'], ['Givnos', 'Marquinos']])

                   Givnos  Jaminos  Jerminos  Joaquinos  Marquinos  Mohinos
Movie
12 Monkeys              9        7         8          5          3        7
Accident Man            5        7         5          6          6        7
Airplane!               7        7         6          7          8        8
American Gangster       4        6         9          6          4        6
Annihilation           10        4         7          3          5        6


              Givnos  Marquinos
Movie
Forrest Gump       7          6

### 3. Find instances of 10 and 1

In [3]:
from itertools import chain
ten_mov = list(chain(*[movie_df.index[movie_df[i] == 10].tolist() \
           for i in movie_df if 10 in list(movie_df[i])]))
one_mov = list(chain(*[movie_df.index[movie_df[i] == 1].tolist() \
           for i in movie_df if 1 in list(movie_df[i])]))

In [4]:
print(ten_mov)
print(one_mov)

['Annihilation', 'Saw', 'Gattaca', 'Blazing Saddles', 'Halloween', 'Taxi Driver']
['Saw', 'Pitch Perfect 3', 'Rampage']

### 4. Make copy of data to edit

In [5]:
movie_zsc = movie_df.copy().astype('float64')

### 5. Save Z-Scores in new data

In [6]:
for i in movie_df:
    pers_av = mean(movie_df[i])
    pers_sd = sd(movie_df[i])
    for j in movie_df.index:
        z_score = float((movie_df[i][j] - pers_av)/pers_sd)
        movie_zsc[i][j] = z_score

### 6. Add Z-Score Average Column

In [7]:
movie_zsc['Z AVG'] = [mean(movie_zsc.loc[i]) for i in movie_zsc.index]

### 7. Add Adjusted Avegage Column

In [8]:
mult = 10/(max(movie_zsc.max()) - min(movie_zsc.min()))

In [9]:
movie_zsc['ADJ AVG'] = [round(5 + mult*i, 2) \
                        for i in movie_zsc['Z AVG']]

In [10]:
movie_zsc.head()

,Givnos,Jaminos,Jerminos,Joaquinos,Marquinos,Mohinos,Z AVG,ADJ AVG
Movie,,,,,,,,
12 Monkeys,1.806151,0.783673,1.122386,0.048986,-1.157429,0.365290,0.494843,5.94
Accident Man,-0.393822,0.783673,-0.117340,0.544964,0.354696,0.365290,0.256243,5.49
Airplane!,0.706164,0.783673,0.295902,1.040943,1.362779,0.884386,0.845641,6.60
American Gangster,-0.943816,0.345897,1.535628,0.544964,-0.653387,-0.153806,0.112580,5.21
Annihilation,2.356145,-0.529655,0.709144,-0.942972,-0.149346,-0.153806,0.214918,5.41

### 8. Add Power-Up to ADJ_AVG

In [11]:
for i in ten_mov:
    movie_zsc['ADJ AVG'][i] += round(5/6, 2)
for i in one_mov:
    movie_zsc['ADJ AVG'][i] -= round(5/6, 2)

### 9. Checking Some Info in the

In [12]:
movie_zsc.head()

,Givnos,Jaminos,Jerminos,Joaquinos,Marquinos,Mohinos,Z AVG,ADJ AVG
Movie,,,,,,,,
12 Monkeys,1.806151,0.783673,1.122386,0.048986,-1.157429,0.365290,0.494843,5.94
Accident Man,-0.393822,0.783673,-0.117340,0.544964,0.354696,0.365290,0.256243,5.49
Airplane!,0.706164,0.783673,0.295902,1.040943,1.362779,0.884386,0.845641,6.60
American Gangster,-0.943816,0.345897,1.535628,0.544964,-0.653387,-0.153806,0.112580,5.21
Annihilation,2.356145,-0.529655,0.709144,-0.942972,-0.149346,-0.153806,0.214918,6.24

#### Top rated movie:

In [13]:
print(i, movie_zsc
movie_zsc.index[movie_zsc['ADJ AVG'] == \
                movie_zsc['ADJ AVG'].max()].tolist()

['Shaun of the Dead']

### 10. Save As .csv

Remove # to run this code

In [15]:
#movie_zsc.to_csv('AdjustedMovieAverage(v2).csv')